
*{
    margin: 0px;
    padding: 0px;
}


.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
}
.cart{
    height: 48px;
    padding: 2px 10px;
}
.logo{
    height: 52px;
    padding: 4px  -10px;
    padding-inline: 26px;
}
.holder{
padding-inline: 14px;
}
.icon-bar{
    background: darkorange;
}

li {
    float: left;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: white;
  }
  .pic  {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    height: 160px;
    width: 200px;
  }
  .all{
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
  }


li a {
    color: #444
}
#signin {
    position: absolute;
    width: auto;
    top: 4px;
    left: 1286px;
    color: #444;
    background-color: white;
    border-color: white;
    font-size: 18px;
}
#singup{
    position: absolute;
    width: auto;
    top: -100px;
    left: 343px;
    color: #444;
    background-color: white;
    border-color: white;
    font-size: 18px;
}
.container{
    position: absolute;
    top: 143px;
    left: 1170px;
    border: solid;
    height: 471px;
    width: 299px;
    border-radius: 26px;
    box-shadow: 0 5px 10px;
    border-color: efefef;
}
#username{
    position: absolute;
    left: 19px;
    font-size: 17px;
    top: 121px;
    color: #444;
}
#userinput{
    position: absolute;
    top: 121px;
    left: 112px;
    border-radius: 5px;
}
#password{
    position: absolute;
    left: 19px;
    font-size: 17px;
    top: 190px;
    color: #444;
}

#passinput{
    position: absolute;
    top: 190px;
    left: 112px;
    border-radius: 5px;
}
#loginbutton{
    position: absolute;
    top: 245px;
    left: 198px;
    width: 62px;
    border-radius: 18px;
    border-color: #efefef;
    box-shadow: 0 3px 4px;
}
.logologin{
    position: absolute;
    width: 268px;
    left: 19px;
    top: 281px;
}
#loginclosing{
    position: relative;
    width: 18px;
    height: 23px;
    top:19px;
    border: solid;
    box-shadow: 0 7px 8px;
    background-color: #444;
}
.modal-content{
    position: absolute;
    top: 118px;
    left: 84px;
    height: 582px;
    width: 798px;
}
#cancelbutton{
    position: absolute;
    top: 245px;
    left: 137px;
    width: 62px;
    border-radius: 18px;
    border-color: #efefef;
    box-shadow: 0 3px 4px;
}
#email{
    position: absolute;
    left: 19px;
    font-size: 17px;
    top: 52px;
    color: #444;
}
#emailinput{
    position: absolute;
    top: 52px;
    left: 112px;
    border-radius: 5px;
}
.signupbutton{
    position: absolute;
    top: 245px;
    left: 198px;
    width: 62px;
    border-radius: 18px;
    border-color: #efefef;
    box-shadow: 0 3px 4px;

}
#colomn1{
    position: absolute;
    top: 103px;
    left: 185px;
}
#colomn2{
    position: absolute;
    top: 103px;
    left: 600px;
}
#colomn3{
    position: absolute;
    top: 103px;
    left: 1015px; 
}